 

.field{
    width: 100%;
}

.card{
    margin: auto;
    width: 60%;
    background: white;
    padding: 20px;
}

.container{
    margin-top: 0.5px;
}

.card h1{
    text-align: center;
}

.text-center{
    text-align: center;
}

.card button{
    margin: 10px;
}